fastapi>=0.95.0
uvicorn>=0.21.1
celery>=5.2.7
redis
sqlalchemy
pydantic>=1.10.7
pydantic-settings
httpx>=0.23.3
beautifulsoup4>=4.11.2
duckduckgo-search>=2.9.5
lxml>=4.9.2
python-dotenv>=1.0.0
motor>=3.1.2
transformers
tenacity>=8.2.2
tf-keras
pandas
rapidfuzz
tensorflow-cpu
cachetools
